@mixin clearfix() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin adaptive-desktop{
    @media (min-width: $bp-desktop-min){
        @content;
    }
}

@mixin adaptive-desktop-sm{
    @media (min-width: $bp-desktop-sm-min) and (max-width: $bp-desktop-sm-max) {
        @content;
    }
}

@mixin adaptive-tablet{
    @media (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
        @content;
    }
}

@mixin adaptive-mobile{
    @media (max-width: $bp-mobile-max) {
        @content;
    }
}