$text_color_main: #FFF;
$text_color_second: #2B2D5C;

$bp-desktop-min: 1440px;
$bp-desktop-sm-min: 1280px;
$bp-tablet-min: 768px;

$bp-desktop-sm-max: 1439px;
$bp-tablet-max: 1279px;
$bp-mobile-max: 767px;

$tr-time: 0.3s;