.galery {
    $blocks: &;
    &__content {
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    &__first-col {
        display: flex;
        flex-direction: column;
    }
    &__second-col {
        max-width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    &__img-holder {
        margin: 0 20px 20px 0;
        position: relative;
    }
    &__img {
    }
}

.ya-share2 {
    position: absolute;
    bottom: 10%;
    left: 40%;
}