.about-section {
    $blocks: &;
    &__wrapper {
        display: flex;
        padding: 100px 250px 0 0;
        height: 100%;
    }
    &__aside {
        margin-right: 100px;
    }
    &__aside-pic {
        @include adaptive-desktop() {
            max-width: 500px;
        }
        @include adaptive-desktop-sm() {
            max-width: 400px;
        }
        @include adaptive-tablet() {
            max-width: 300px;
        }
    }
    &__main {
        color: $text_color_second;
    }
    &__title {
        font: 300 250% $Trirong;
    }
    &__text {
        padding: 30px 0;
        font: 300 120% $Muli;
    }
    &__subtitle {
        font: 300 170% $Trirong;
        margin-bottom: 30px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    &_theme_rectangle {
        background-image: url('../images/bg-21.jpg');
    }
    &_height_100vh {
        min-height: 100vh;
    }
}