.feedback-section {
    $blocks: &;
    &__wrapper {
        width: 30%;
        margin: 0 auto;
        padding: 50px 0;
        @include adaptive-desktop-sm() {
            width: 70%;
        }
        @include adaptive-tablet() {
            width: 90%;
        }
        @include adaptive-mobile() {
            width: 90%;
        }
    }
    &__title {
        text-align: center;
        font: 300 250% $Trirong;
        color: $text_color_main;
    }
    &_theme_desktop {
        background: url(../images/bg-51.jpg) no-repeat;
        background-size: cover;
        background-position: bottom;
    }
}